.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;

  .container {
    padding: 50px;
    width: 350px;
    background-color: #ffffff;
    border: 0.5px solid #BFBFBF;
  }
  
  .message {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}