.card {
  border: 1px solid #D9D9D9;
  
  .meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    .metaContent {
      display: flex;
      flex-direction: column;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    word-wrap: break-all;
    overflow: auto;

    .contentText {
      word-wrap: break-all;
    }

    .contentImage {
      max-width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .footer {
    &:hover {
      cursor: pointer;
    }
  }
}
.divider {
  margin: 10px 0px 10px 0px;
}