.container {
  padding: 0px calc(calc(100% - 1024px) / 2) 0px calc(calc(100% - 1024px) / 2);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.5px solid #BFBFBF;
  overflow: hidden;

  .search {
    width: 250px;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      margin: 0px 8px 0px 0px;
    }
  }
}


@media (max-width: 1044px) {
  .container {
    padding: 0px 10px;
  }
}


@media (max-width: 768px) {
  .container {
    .search {
      width: 200px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    .search {
      width: 150px;
    }
  }
}