.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    padding: 50px;
    width: 610px;
    background-color: #ffffff;
    border: 0.5px solid #BFBFBF;
  }
}